$fa-font-path: "/font/fa" !default

@import "../deps/bourbon/app/assets/stylesheets/bourbon"
@import "../deps/neat/app/assets/stylesheets/neat"
@import "../deps/font-awesome/scss/font-awesome"
@import "font/merriweather"
@import "font/sourcesanspro"
@import "font/sourcecodepro"

$config-font-size: 18px

$color-blue: #00a9e0
$color-green: #01be7e
$color-orange: #f08d3c
$color-red: #e74c3c

@import "button"

=headline()
  font-family: "Merriweather"
  font-style: italic
  letter-spacing: -1px

body, html
  font-family: "Source Sans Pro"
  font-size: $config-font-size
  margin: 0
  padding: 0

.container
  +outer-container(1200px)

p
  line-height: 1.6rem

=box-shadow($content)
  -webkit-box-shadow: $content
  -moz-box-shadow: $content
  box-shadow: $content

=font-smoothing($content)
  -webkit-font-smoothing: $content
  -moz-font-smoothing: $content
  font-smoothing: $content

a
  cursor: pointer

#header
  width: 100%
  position: absolute
  +outer-container(100%)
  background-color: $color-blue
  +box-shadow(inset rgba(0, 0, 0, 0.1) 0 -4px 0)
  height: 110px
  .container
    position: relative
  #logo
    position: absolute
    left: 0
    top: 36px
    h1
      +headline()
      margin: 0
      padding: 0
      a
        color: #ffffff
        text-decoration: none
  #nav
    position: absolute
    right: 0
    top: 34px
    height: 44px
    line-height: 44px
    ul
      +clearfix
      list-style-type: none
      margin: 0
      padding: 0
      +font-smoothing(antialiased)
      li
        float: left
        margin: 0 26px
        text-transform: uppercase
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0
        &.active
          a
            border-bottom: 2px solid rgba(0, 0, 0, 0.2)
        a
          font-weight: 600
          color: #ecf0f1
          text-decoration: none
          &:hover
            border-bottom: 2px solid rgba(0, 0, 0, 0.2)
        &.user
          font-family: "Merriweather"
          font-style: italic
          letter-spacing: -1px
          color: #ffffff
          text-transform: none
          font-weight: 800
          img
            margin: 0 5px 0 0
            border: 3px solid rgba(0, 0, 0, 0.1)
.user
  font-family: "Merriweather"
  font-style: italic
  letter-spacing: -1px

#main
  padding-bottom: 50px
  padding-top: 110px
  .section
    +clearfix
    margin-bottom: 2rem
    &:last-child
      margin-bottom: 0
    &:first-child
      margin-top: 50px
  .hero
    &.work-space
      top: -22px
      position: relative
      width: 100%
      height: 400px
      background-image: url("/img/hero-1.jpg")
      background-size: 100% 400px
      background-repeat: no-repeat
      .container
        position: relative
        top: 120px
        color: #ffffff
        h1
          +headline()
      .tab-list
        position: absolute
        top: 235px




ul.tab-list
  list-style-type: none
  margin: 0
  padding: 0
  li
    float: left
    &.active
      a
        background-color: #ffffff
        color: $color-blue
    a
      display: inline-block
      height: 45px
      line-height: 45px
      padding: 0 30px
      border: 3px solid #ffffff
      border-bottom: none
      color: #ffffff
      text-decoration: none
      margin: 0 10px 0 0
      background-color: rgba(0, 0, 0, 0.3)
      &:hover
        background-color: #ffffff
        color: $color-blue
a
  color: $color-blue
  text-decoration: none
  &:hover
    text-decoration: none

.image-circle
  +border-top-radius(100%)
  +border-bottom-radius(100%)
  +border-left-radius(100%)
  +border-right-radius(100%)

.work-space, .team
  list-style-type: none
  margin: 0
  padding: 0
.work-space
  > li
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    border-right: 1px solid rgba(0, 0, 0, 0.2)
    border-left: 1px solid rgba(0, 0, 0, 0.2)
    +clearfix
    padding: 20px 30px
    +transition(box-shadow 100ms ease-in 0s)
    &:first-child
      +border-top-radius(3px)
    &:last-child
      +border-bottom-radius(3px)
      border-bottom: 1px solid rgba(0, 0, 0, 0.2)
    h2
      +headline()
    &:hover
      box-shadow: inset 4px 0 0 0 $color-blue
  li
    .info
      +span-columns(12)
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      padding-bottom: 10px
      margin-bottom: 20px
    .team
      +span-columns(10)
      li
        float: left
        margin-right: 5px
        &:last-child
          margin-right: 0
    .action
      +span-columns(2)

.work-space-write
  .feed
    position: fixed
    top: 110px
    bottom: 0
    left: 0
    width: 33.33%
  .write
    position: fixed
    top: 110px
    bottom: 0
    left: 33.33%
    .write-input
      width: 100%
      height: 100%
      border: 0
      font-family: "Source Code Pro"
      outline: none
      padding: 2rem
      line-height: 1.7rem
      background-color: rgba(0, 0, 0, 0.01)
      resize: none
  .preview
    position: fixed
    top: 110px
    right: 0
    bottom: 0
    width: 33.33%
    padding: 2rem
    h1
      &:first-child
        padding-top: 0
        margin-top: 0
    h1, h2, h3, h4, h5, h6
      +headline()

.table
  background-color: transparent
  width: 100%
  max-width: 100%
  border-color: rgba(0, 0, 0, 0.2)
  > thead
    box-sizing: border-box
    > tr
      > th
        font-weight: 800
        text-align: left
        padding: 8px
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  > tbody
    box-sizing: border-box
    > tr
      padding: 0px
      > td
        padding: 8px
        vertical-align: top
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
      &:hover
        background-color: rgba(0, 0, 0, 0.1)
.list
  padding: 2rem 2rem 1rem 2rem
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  .title
    font-weight: 600
    font-size: 1.2rem
  .description
    font-size: 0.8rem
    color: rgba(0, 0, 0, 0.6)
  .body
    padding-top: 10px
    color: rgba(0, 0, 0, 0.8)
  .gravatar
    margin-right: 10px
    float: left
.badge
  margin-top: -5px
  display: inline-block
  min-width: 10px
  padding: 3px 7px
  font-size: 0.8rem
  font-weight: 600
  line-height: 1
  color: #fff
  text-align: center
  white-space: nowrap
  vertical-align: baseline
  background-color: $color-blue
  border-radius: 10px
  &.badge-success
    background-color: $color-green !important
  &.badge-warning
    background-color: $color-orange !important
  &.badge-danger
    background-color: $color-red !important
