<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Abschluss Projekt Präsentation</title>
    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/league.css" id="theme">

    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>
          <h1>Projektpräsentation <small><code>draftr</code></small></h1>
          <small>19. Juni 2015 / Marcel Weihofen</small>
        </section>
        <section data-background="#b5533c">
          <h1>Agenda</h1>
          <ol>
            <li><strong>Vorstellung</strong></li>
            <li>Beschreibung</li>
            <li>Planung</li>
            <li>Umsetzung</li>
          </ol>
        </section>
        <section data-background="#012e4a">
          <h1>Das bin ich</h1>
          <small>Marcel Weihofen</small>
          <div><img data-src="img/me.jpg" style="max-width: 400px;"></div>
          <small>Geboren am 03. Juni 1993 in München</small>
        </section>
        <section data-background="#012e4a">
          <section>
            <img data-src="img/logo-white.png">
            <small>Gegründet 2000</small>
            <small>Ziel: Finanzinformationen, unabhängig von Banken und Verlagen anzubieten.</small>
          </section>
          <section>
            <h2>Die Firma</h2>
            <ul>
              <li>Über 100 Mittarbeiter, davon 65 in München</li>
              <li>Große Web-Portale</li>
              <li>Finanzanalysewerkzeuge, Echtzeit-Nachrichten, Zitate, Expertenkommentare, Handelssignale</li>
            </ul>
          </section>
          <section>
            <img data-src="img/screen-godmode.jpg">
          </section>
          <section>
            <img data-src="img/screen-guidants.jpg">
          </section>
          <section>
            <img data-src="img/screen-charting.jpg">
          </section>
          <section>
            <img data-src="img/screen-jandaya.jpg">
          </section>
          <section>
            <h2>Kunden</h2>
            <p>B2C: Privatkunden, Day-Trader, technische Analysten</p>
            <p>Premium Services</p>
            <p>B2B: Kundenspezifische Tools für externe Partner</p>
          </section>
        </section>
        <section data-background="#b5533c">
          <h1>Agenda</h1>
          <ol>
            <li>Vorstellung</li>
            <li><strong>Beschreibung</strong></li>
            <li>Planung</li>
            <li>Umsetzung</li>
          </ol>
        </section>
        <section>
          <h2><code>draftr</code></h2>
          <blockquote><small>Das neue System soll es Redakteuren vereinfachen, im Team an einem Artikel zu arbeiten und den benötigten Zeitaufwand verringern, der für die Recherche vonnöten ist.</small></blockquote>
          <img data-src="img/workspace.png" style="max-width:800px;">
        </section>
        <section>
          <h2>Phasen</h2>
          <img data-src="img/Ablaufplan.jpg">
        </section>
        <section data-background="#b5533c">
          <h1>Agenda</h1>
          <ol>
            <li>Vorstellung</li>
            <li>Beschreibung</li>
            <li><strong>Planung</strong></li>
            <li>Umsetzung</li>
          </ol>
        </section>
        <section>
          <h2>Ziel</h2>
          <ul>
            <li>Verfassen von Artikeln erleichtern</li>
            <li>Samlungen von externen Artikeln</li>
            <li>Arbeiten im Team</li>
            <li>Vereinfachte Quellensuche</li>
          </ul>
        </section>
        <section>
          <h2>So funktioniert's!</h2>
          <img data-src="img/HowItWorks.jpg" style="max-height:55%; max-width: 55%;">
        </section>
        <section>
          <h2>Verwendete Software</h2>
          <ul>
            <li><a href="http://github.com" target="_blank">GitHub</a></li>
            <li><a href="http://www.mongodb.org" target="_blank">MongoDB</a></li>
            <li><a href="http://mongoosejs.com" target="_blank">mongoose</a></li>
            <li><a href="https://nodejs.org" target="_blank">Node.js</a></li>
            <li><a href="http://expressjs.com" target="_blank">express</a></li>
            <li><a href="http://angularjs.org" target="_blank">angular</a></li>
          </ul>
        </section>
        <section data-background="#b5533c">
          <h1>Agenda</h1>
          <ol>
            <li>Vorstellung</li>
            <li>Beschreibung</li>
            <li>Planung</li>
            <li><strong>Umsetzung</strong></li>
          </ol>
        </section>
        <section>
          <section>
            <img data-src="img/github-logo.jpg">
          </section>
          <section>
            <h2>GitHub</h2>
            <ul>
              <li>Versionsverwaltung</li>
              <li>Sämtliche Änderungen von allen Autoren werden gespeichert</li>
              <li>Web-Interface, Wiki und Task-System für Entwickler</li>
            </ul>
          </section>
          <section>
            <h2><code>draftr</code> auf GitHub</h2>
            <img data-src="img/github.png" style="max-height:80%; max-width: 80%;">
          </section>
        </section>
        <section>
          <section>
            <img data-src="img/mongodb.png" style="max-width: 500px;">
            <div>
              <ul>
                <li>Open-Source-Datenbank</li>
                <li>Schema-frei</li>
                <li>Objektorientiert</li>
              </ul>
            </div>
          </section>
          <section>
            <h2>Datenbankaufbau</h2>
            <img data-src="img/db.png" style="background-color:white;">
          </section>
          <section>
            <h2>Datenbank Objekt</h2>
            <img data-src="img/dbObject.png" style="background-color:white;">
          </section>
        </section>
        <section>
          <section>
            <img data-src="img/mongoose.png" style="background: white; max-width: 500px;">
            <div>
              <ul>
                <li>Node.js Modul</li>
                <li>Schema-basierte Lösung</li>
                <li>Datenmodellierung</li>
                <li>Integrierte Typumwandlung und Validierung</li>
              </ul>
            </div>
          </section>
          <section>
          <h2>Erstellen eines Schemas</h2>
            <pre><code>var mongoose = require('mongoose'),
    schema;

schema = new mongoose.Schema({
  url:       { type: String, unique: true },
  title:     String,
  body:      String,
  updatedAt: { 'type': Date, 'default': Date.now },
  createdAt: { 'type': Date, 'default': Date.now }
});

mongoose.model('Article', schema, 'article');</code></pre>
          </section>
        </section>
        <section>
          <section>
            <h2>Der Server</h2>
            <div><img data-src="img/nodejs.png" style="max-width: 300px; background-color:white;"></div>
            <div><img data-src="img/express.jpg" style="max-width: 300px;"></div>
          </section>
          <section>
            <h3>Node.js</h3>
            <ul>
              <li>Open-Source-Plattform</li>
              <li>Pure JavaScript</li>
              <li>Basiert auf der <em>Google v8 JavaScript Engine</em></li>
            </ul>
          </section>
          <section>
            <h3><code>express</code></h3>
            <ul>
              <li>Node.js Modul</li>
              <li>Routenbasierte Webanwendungen</li>
              <li>Vielzahl von HTTP-Hilfsmethoden und Middleware</li>
            </ul>
          </section>
          <section>
            <h3>Beispiel http <code>express</code> server</h3>
            <pre><code>var express = require('express'),
    app = express();

app.get('/', function(req, res) {
  res.status(200).send({ firstname: 'Jon', lastname: 'Doe' });
});

app.listen(3000);</code></pre>
<pre><code>$ curl -sS http://localhost:3000
{"firstname":"Jon","lastname":"Doe"}</code></pre>
          </section>
          <section>
            <h3>Beispiel einer API Ressource</h3>
            <h4>Route festlegen</h4>
<pre><code>router.post('/article', authenticate(), bind('api/article/create'));</code></pre>
<h4>Request verarbeiten</h4>
<pre><code>module.exports = function (req, res) {
  var model = new Article({
    title: req.body.title,
    body: req.body.body,
    url: req.body.url
  });

  model.save(function (err, data) {
    if (err) {
      return res.status(500).send(err);
    }

    res.status(201).send(data);
  });
};</code></pre>
          </section>
        </section>



        <section>
          <section>
            <div>
              <img data-src="img/bluebird.png" style="max-height:50%; max-width: 50%;">
            </div>
            <ul>
              <li><code>Promise/A+</code> Implementierung</li>
              <li>Repräsentiert einen Wert, der aktuell (noch) nicht verfügbar ist</li>
              <li>Einheitliche Verwendung von asynchronen Aktionen</li>
            </ul>
          </section>
          <section>
            <h2>Asynchrone Handlung (ohne Promises)</h2>
<pre><code>Article.find({ id: 1 }, function (err, res) {
  if (err) {
    return handleError(err);
  }

  handleResult(res);
});</code></pre>
          </section>
          <section>
            <h2>Asynchrone Handlung (mit Promises)</h2>
<pre><code>Article.find({ id: 1 })
  .then(handleResult)
  .catch(handleError)
;</code></pre>
            </section>
            <section>
              <h2>Fortlaufende Aktionen (ohne Promises)</h2>
<pre><code>function loadArticleWithAuthor(callback) {
  Article.all(function (err, result) {
    if (err) {
      return handleError(err);
    }

    var count = result.length,
        i, article;

    for (i = 0; i < count; i++) {
      article = result[i];

      User.find({ id: article.authorId }, function (err, user) {
        if (userErr) {
          handleError(userErr);
        } else {
          article.author = user;
        }

        count--;

        if (0 === count) {
          callback(result);
        }
      });
    }
  });
}</code></pre>
              <small>28 Zeilen</small>
            </section>
            <section>
              <h2>Fortlaufende Aktionen (mit Promises)</h2>
<pre><code>function loadArticleWithAuthor() {
  return Article
    .all()
    .then(function (res) {
      return Promise.all(res.map(function (article) {
        return User.find({ id: article.authorId })
          .then(function (user) {
            article.author = user;
          })
        ;
      }));
    })
    .catch(handleError)
  ;
}</code></pre>
              <small>15 Zeilen</small>
            </section>
          </section>
        <section>
          <section>
            <img data-src="img/angularjs.png" style="background-color: white;">
            <ul>
              <li>JavaScript OpenSource Framework</li>
              <li>Single-Page-Apps</li>
              <li>MVC/MVM</li>
              <li>Bidirektionales Databinding</li>
            </ul>
          </section>
          <section>
            <h2>Controller</h2>
            <pre><code>function ArticleCreateController($scope) {
  $scope.flashMessage = null;
  $scope.title        = null;
  $scope.body         = null;

  $scope.save = function save() {
    api()
      .method('POST').resource('article')
      .data('title', $scope.title).data('body', $scope.body)
      .request()
      .then(function () {
        $scope.title        = null;
        $scope.body         = null;
        $scope.flashMessage = { type: 'success', content: 'Erfolg!' };
      })
    ;
  };
}</code></pre>
          </section>
          <section>
            <h2>View</h2>
            <pre><code><div ng-if="flashMessage" class="{{ flashMessage.type }}">
  {{ flashMessage.content }}
</div>
<form ng-submit="save()">
  <label for="title">Title</label>
  <input id="title" type="text" ng-model="title">
  <label for="body">Body</label>
  <input id="body" type="text" ng-model="body">
  <button type="submit">Save</button>
</form></code></pre>
          </section>
          <section>
            <h2>Resultat</h2>
            <img data-src="img/example.gif">
          </section>
        </section>
        <section>
          <section>
            <h2><code>draftr</code></h2>
            <img data-src="img/home.png">
          </section>
          <section>
            <img data-src="img/1.png">
          </section>
          <section>
            <img data-src="img/2.png">
          </section>
          <section>
            <img data-src="img/3.png">
          </section>
          <section>
            <img data-src="img/4.png">
          </section>
          <section>
            <img data-src="img/5.png">
          </section>
          <section>
            <img data-src="img/6.png">
          </section>
          <section>
            <img data-src="img/7.png">
          </section>
          <section>
            <img data-src="img/8.png">
          </section>
          <section>
            <img data-src="img/9.png">
          </section>
          <section>
            <img data-src="img/10.png">
          </section>
          <section>
            <img data-src="img/11.png">
          </section>
          <section>
            <img data-src="img/12.png">
          </section>
          <section>
            <img data-src="img/13.png">
          </section>
        </section>
        <section>
          <h2>Vielen Dank für Ihre Aufmerksamkeit</h2>
          <img data-src="img/programming-cat.jpg" class="fragment">
        </section>
      </div>
    </div>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script>
      Reveal.initialize({
        controls: false,
        progress: true,
        history: true,
        center: true,
        transition: 'slide',
        /*parallaxBackgroundImage: 'img/bg2.jpg',
        parallaxBackgroundSize: '2560px 1440px',*/
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
      Reveal.configure({ slideNumber: true });
      Reveal.configure({ slideNumber: 'c / t' });
    </script>
  </body>
</html>
