<!DOCTYPE html>
<html>
<head>
  <title>draftr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="skin-3">
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" id="navigation">
    </nav>
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom" id="headline">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0" id="headline"></nav>
      </div>
      <div id="content-wrapper">
        {{{body}}}
      </div>
      <div class="footer">
        <div>
        </div>
      </div>
    </div>
  </div>
  <script src="/deps/requirejs/require.js" data-main="/js/draftr.js"></script>
</body>
</html>